/* global */
body {
  margin: 0;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: "Markazi Text";
}

h1 {
  font-size: 64px;
  color: #F4CE14;
}

h2 {
  color: white;
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

p {
  font-family: 'Karla';
  font-weight: 400;
}

a {
  font-family: 'Karla';
  font-size: 20;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  background-color: #F4CE14;
  border-radius: 16px;
  border-style: none;
  height: 50px;
  width: 200px;
  font: bold 1.2rem 'Karla';
}

/* header & nav*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
}

.logo img {
  width: 10rem;
  margin-left: 1.5em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-right: 1.5em;
}

nav a {
  font-family: 'Karla';
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20;
  text-decoration: none;
  color: #333333;
}

/* hero */
.hero {
  display: flex;
  background-color: #495e57;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 10%;
  gap: 2rem;
}

.hero-content {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;
  color: white;
}

.hero-content > h1, .hero-content > h2{
  margin: 0;
}

.hero-content p {
  font-size: 18px;
  padding: 2rem 0;
}

.hero-img img {
  width: 20rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden; 
  box-shadow:#333333;
}

/* highlights */
.highlights {
  margin: 3rem;
}

.highlights-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 3rem;
}

.highlights-title h2 {
  color: #333333;
}

.highlights-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  gap: 2rem;
}

.card-content {
  display: flex;
  width: 17rem;
  min-height: 27em;
  flex-direction: column;
  background-color: #EDEFEE;
  border-radius: 16px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.card-content img{
  padding: 0;
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14rem;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 1rem;
}

.card-top h3 {
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}

#price {
  color: #EE9972;
}

.card-btm img {
  height: 2rem;
  width: 2rem;
}

.card-body p {
  padding: 0 1rem;
}

.card-btm button {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color:#333333;
  background-color: transparent;
  border-style: none;
  gap: 1rem;
  font-size: 1.1rem;
  width: auto;
}


/* testimonials */


/* about */
.about {
  padding: 2rem 10%;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #333333;
}

.about-content > h1, .about-content > h2{
  margin: 0;
}

.about-content p {
  font-size: 16px;
  font-weight: 500;
  padding: 2rem 0;
}

.about-img {
  width: 20rem;
  height: 25rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-img #indoor {
  width: 12rem;
  height: 15rem;
  object-fit: cover;
  position: absolute;
  bottom:0;
  left: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.about-img #chefs {
  width: 12rem;
  height: 15rem;
  object-fit: cover;
  position: absolute;
  top:0;
  right: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.about h1 {
  color: #495e57;
}

.about h2 {
  color: #333333;
}


/* footer */
.footer {
  display: flex;
  background-color: #EDEFEE;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10% 5% 10%;
}

.footer .logo {
  align-self: center;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: flex-start;
}

.footer-section ul {
  padding: 0;
}

.footer-section li {
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
}

.footer-section h4 {
  font-size: 32px;
  text-align: left;
  color: #495e57;
  margin-bottom: 0.5rem;
}